/* Variables */

:root {
    --black: #171B1E;
    --beige: #B6AC94;
    --beigeDark: #9E947B;
    --beigeDarker: #A89E82;
    --lightGray: #B1B3B6;
    --cyan: #93CEC8;

    --bs-breadcrumb-divider: url("data:image/svg+xml,%3Csvg class='breadcrumb-divider' xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%23ffffff'/%3E%3C/svg%3E");
}