/* Default styles - small devices (Mobile, screen width < 768px) */

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
.top-bar {
    background-color: var(--beige);
}
.top-bar .social-logos svg {
    height: 24px;
}
#search input {
    border-radius: 0;
    border-color: #ffffff;
}
#search input::placeholder {
    color: var(--lightGray);
}
.search-btn {
    background-color: var(--black);
    border-radius: 0;
    padding: .28em .47em .47em .47em;
    transition: .3s all;
}
.search-btn:hover {
    background-color: var(--beigeDarker);
}
.search-btn svg {
    display: inline-block;
}
.search-btn svg:nth-of-type(2) {
    display: none;
}
.search-btn:hover svg:nth-of-type(1) {
    display: none;
}
.search-btn:hover svg:nth-of-type(2) {
    display: inline-block;
    /* background-color: var(--cyans); */
}
/*--------------------------------------------------------------
# Main Navigation
--------------------------------------------------------------*/
.main-nav {
    background-color: var(--black);
}