/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {

    .hero-text h1 {
        color: var(--beige);
        font-size: 1.9rem;
    }

    .hero-text-col {
        background-color: var(--black);
    }
    .hero-text-container {
        height: fit-content;
    }

    .guide h2 {
        font-size: 2.8rem;
    }
    .guide hr {
        display: none;
    }
  
    
}