/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {

.top-bar {
        display: flex!important;
        flex-basis: auto;
}
.mobile-search-btn {
    display: none;
}

#main-nav .nav-item.active a {
    border-left: none;
    border-bottom: 2px solid var(--beige);
    padding-right: var(--bs-navbar-nav-link-padding-x);
    padding-left: var(--bs-navbar-nav-link-padding-x);
}

.navbar-nav .nav-item, .navbar ul li:first-child {
    /* padding: 0; */
    padding-top: 0;
    padding-bottom: 0;
}

#main-nav .nav-item a {
    padding-top: .5em;
    padding-bottom: .5em;
}

.hero img {
    /* height: 465px;
    width: 534px; */
}

.hero-text h1 {
    color: var(--beige);
    font-size: 3.15rem;
}

.guide h2, .our-doors h2, .about-us h2, .testimonials h2 {
    font-size: 2.3rem;
}
.about-us .card h3 {
    font-size: 1.5rem;
}

.testimonials-text p {
    font-size: 1.35rem;
}

/* Footer - Large Devices */

.shfooter .collapse {
display: block;
}
footer .fa-chevron-right {
display: inline-block;
}
footer ul li {
margin-bottom: 10px;

}
    
footer ul li a:hover .fa-chevron-right {
    animation: arrow-right 0.3s linear forwards; 
          
      }
  
  @keyframes arrow-right {
    from {
      transform: translateX(0px); }
    to {
      transform: translateX(3px); } 
      
  }

  #footer .footer-title {
    font-size: 1.5rem;
  }
  


}