/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {

.top-bar {
        display: flex!important;
        flex-basis: auto;
}
.mobile-search-btn {
    display: none;
}

#main-nav .nav-item.active a {
    border-left: none;
    border-bottom: 2px solid var(--beige);
    padding-right: var(--bs-navbar-nav-link-padding-x);
    padding-left: var(--bs-navbar-nav-link-padding-x);
}

.navbar-nav .nav-item, .navbar ul li:first-child {
    /* padding: 0; */
    padding-top: 0;
    padding-bottom: 0;
}

#main-nav .nav-item a {
    padding-top: .5em;
    padding-bottom: .5em;
}

.hero img {
    /* height: 465px;
    width: 534px; */
}

.hero-text h1 {
    color: var(--beige);
    font-size: 3.5rem;
}



}