/* Extra large devices (large desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
    .hero-text h1, .inner-header h1 {
        font-size: 4rem;
    }
    .guide h2, .our-doors h2, .about-us h2, .testimonials h2 {
        font-size: 2.9rem;
    }
    .testimonials-text p {
        font-size: 1.93rem;
    }
    .testimonials-text .text-footer {
        font-size: 1.125rem;
    }
    .inner-header h1 {
        margin-bottom: 1rem;
    }
    .inner-header p {
        font-size: 1.5rem;
    }
}
        